body {
    font-family: Trade 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #6d6d6d; 
    background-image: url("wp13153958.png"); 
    background-size: cover; 
    background-repeat: repeat-y; 
    background-attachment: fixed 
  }
  
  .container {
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 1.5em;
  }
  header {
    background-color: #5d94ae; 
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2em 0;
  }
  
  header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  header p {
    font-size: 1.2em;
  }
  
  nav {
    background-color: #fff; 
    padding: 1em;
  }
  .image-section-1 img {
    max-width: 700px;
    max-height: 500px; 
  }
  .image-section-1 img {
    width: 90%;
    height: auto;
  }
  .image-section-1 {
    max-width: 480px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-and-features {
    display: flex;
    align-items: center; 
  }
  .poster {
    width: 16.66%; /* Adjust width as needed */
    height: auto;
    margin: 5px; /* Adjust margin for spacing */
  }